.min-width-0 {
  min-width: 0;
}

.no-select {
  user-select: none;
}

.child-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block-align-left {
  > .v-btn__content {
    justify-content: flex-start;
  }
}

.flip-list-move {
  transition: transform 0.5s;
}

.draggable-ghost {
  opacity: 0.5;
}

.ps {
  .ps__rail-x, .ps__rail-y {
    z-index: 1;
  }
}
